$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body, html {
  padding: 0px;
  margin: 0px;
}

h1 , h2 , h3 , h4 , h5 , h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
}
header {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 1;
  img {
    width: 30px;
    margin-right: 10px;
  }
}
nav {
  margin: 0 auto;
  max-width: 360px;
}
p {
  font-family: 'Inconsolata',monospace;
  font-size: 1.2em;
}

section {
    padding-top: 3em;
    margin-bottom: 3em;
    .row {
      margin-top: 3em; 
    }
}

table {
  box-sizing: border-box;
  font-family: 'Inconsolata',monospace;
  font-size: 1.4em;
  text-align: center;
  height: 99%;
  width: 99%;
  tr {
    td {
      border: 1px solid #eee;
    }
  }
}

footer {
  background-color: gray;
  color: white;
  height: auto;
  font-weight: bold;
  font-size: 1.8em;
  margin: 0 auto;
  padding: 1em 0 0.8em;
  text-align: center;
  vertical-align: middle;
  a {
    position: relative;
    vertical-align: bottom;
  }
  sup {
     top: -2px;
  }
}


h1.titulo {
  /*border: 4px solid #fff;*/
  /*box-shadow: 0 0 5px 0 rgba(0,0,0,.75);*/
  color: #fff;
  display: inline-block;
  font-family: 'Fjalla One',sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin-left: 0;
  margin-top: 10px;
  padding: 10px 20px 5px;
  position: relative;
  /*text-shadow: 0 0 5px rgba(0,0,0,.75);*/
  text-transform: uppercase;
  z-index: 100;
}

.menu {
  display: inline-block;
  float: right;
  margin-top: 19px;
  margin-right: 20px;
}
.fondoi {
    background: #fd8c02;
}
.fondob {
  background: none;
}

section#sopa {
  height: 100vh;
  div.texto_s {
    display: inline-block;
    padding: 10px;
    padding-top: 2em;
    width: 100%;
  }
  div#words {
    display: inline-block;
    float: right;
    width:100%;
    padding-bottom: 1em;
  }
  h2 {
  font-size: 29px;
  line-height: 1.4em;
  }
}

section#reticula{
  display: none;
  a {
    text-decoration: none;
  }
  h4 {
      color: #000;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5em;
      margin-top: 10px;
    }
  img {
      width: 100%;
  }
}

.proyecto p {
  color: #000;
}
.efecto {
  cursor:default;
  height:100%;
  overflow:hidden;
  position:relative;
  text-align:center;
  width:100%;
}

.efecto img {
  display:block;
  position:relative;
  transition:all .4s linear;
}

.efecto:hover img {
  transform: scale(1.2);
}

.efecto .overlay {
  background-color:rgba(0,0,0,0.1);
  left:0;
  overflow:hidden;
  opacity:0;
  position:absolute;
  top:0;
  transition:all .4s ease-in-out;
  width:100%;
  height:100%;
  }

.efecto:hover .overlay {
  filter:alpha(opacity=100);
  opacity:1;
}

.verproyecto {
  border: 1px solid #fff;
  background: rgba(146, 146, 146, 0.7);
  color: white;
  padding: 7px 14px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  top: 45%;
}

a.verproyecto:hover {
  color: #000;
  border: 1px solid #000;
}
div.info2 {
  background-color: #fd8c02;
  color: #000;
  left: 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-bottom:2em;
}

div.info {
  display: none;
  background-color: #fd8c02;
  color: #000;
  cursor: pointer;
  left: 0;
  text-transform: uppercase;
  text-align: center;
  position: unset;
  width: 100%;
}
div.info:hover {
  color:  #fd8c02;
  background-color: #000;
}

section#informacion {
    display: none;
    z-index: 100;
    .video img {
      max-width: 100%;
      border-radius: 10px;
    }
}

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

.palabra_h , .palabra_v {
  cursor: pointer;
  font-weight: bold;
}

td[class^="palabra_"]{
  transition: all 1s;
}

.posible_h {
  // background: green;
}

.posible_v {
  background: orange;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 19px;
  }
}
.social {
  margin-bottom: 1em;
  margin-top: 3em;
  text-align: center;

  .face {
    display: inline-block;
    background-image: url("../img/facebook.svg");
    width: 30px;
    height: 30px;
    &:hover {
      background-image: url("../img/facebook_h.svg")
    }
  }
  .tumblr {
    display: inline-block;
    background-image: url("../img/tumblr.svg");
    width: 30px;
    height: 30px;
    &:hover {
      background-image: url("../img/tumblr_h.svg")
    }
  }
}

.suscribir {
  margin-top: 1em;
  margin: 0 auto;
  text-align: center;
}
h4.subt {
  color: #000;
  text-transform: uppercase;
}
.mc-field-group {
    display: inline-block;
}
.clear {
    display: inline-block;
}
label {
  margin-bottom: 0;
  vertical-align: middle;
}
#mce-EMAIL {
    border: 1px solid hsla(0,0%,50%,.24);
    background: hsla(0,0%,50%,.24);
    margin: 0 5px;
    font-family: monospace;
    padding: 5px;
    text-align: center;
    width: 220px;
}

input#mc­embedded­subscribe {
    color: #000;
    border: 2px #000 solid;
    font-weight: bold;
    margin-top: 1em;
    text-transform: uppercase;
    &:hover {
      background-color: #000;
      color: white;
    }
}
img.logop {
      width: 70px;
      height: auto;
}
img.logoo {
      width: 100px;
      height: auto;
}
img.logosm {
    max-width: 100%;
}
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 350px) {
  section#sopa div.texto_s {
      padding-top: 1em;
      h2 {
        font-size: 25px;
      }
      p {
        font-size: 16px;
      }
    }
  h1.titulo {
    padding: 10px 5px 5px;
  }
  .menu {
    margin-right: 0;
  }
  header img {
    margin-right: 5px;
  }
}

@media screen and (min-width: 768px) {
  section#sopa div#words {
    height: 100%;
  }
  div.info {
  display: inline-block;
  }
  div.info2 {
  display: none;
  }
  .suscribir {
    p {
      display: inline-block;
    }
  }
  input#mc­embedded­subscribe {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  section#sopa div.texto_s {
    margin-top: 1em;
    padding-left: 2em;
    width: 50%;
    height: 100%;
    p {
      font-size: 1.3em;
    }
  }
  section#sopa div#words {
    height: 100%;
    padding-top: 2em;
    width: 50%;
  }
}